*{
    box-sizing: border-box;
    margin:0;
    padding:0;
  }
  
*:focus {
    outline: none;
  }
  
html, body{
    color:#fff;
    font-size:15px;
    font-weight:normal;
  }
  
ul{
    list-style:none;
  }
  
.main{
    background: #04011b; 
    background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);  
    background: linear-gradient(to left, #24243e, #302b63, #0f0c29); 
  }
  
  
.tabs{
    position:relative;
    margin:25px 0;
    clear:both;
    min-height:13px;
    padding: 0.5em;
  }
  
.tab{
    float:left;
  }
  
.tab label{
    background-color:#DCDCDC;
    color:#0f0c29;
    padding:10px 35px;
    border:2px solid #ccc;
    border-radius:4px;
    margin-left:-1px;
    position:relative;
    left:1px;
  }
  
.tab [type=radio]{
    display:none;
  }
  
[type=radio]:checked ~ label{
    background-color:#fff;
    border: 2px solid #fff;
  }
  
.lala{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    margin: 0 auto;
    width: 80%;
    max-width: 900px;
    padding: 10px;
    padding-top: 20px;
  }
  
p#deskripsi{
    font-size:20px;
    padding: 2px;
    padding-bottom: 4px;
  }
i{
    font-size:16px;
  }
  
h1{
    font-size:29px;
    text-align:center;
    color: #F5F5F5;
    font-weight:normal;
    padding: 1em;
  }
  
.labels{
    display:inline-block;
    text-align: right;
    width: 40%;
    padding: 4px;
    vertical-align: top;
    margin-top: 10px;
  }
  
.tabKanan{
    display: inline-block;
    text-align: left;
    width: 55%;
    padding: 6px;
    vertical-align: middle;
    
  }
  
.input-field{
    padding:1em;
    width:36.5em;
    border-radius:4px;
    border:1px solid #fff;
    margin: 10px;
  }
  
input[type="checkbox"], #submit{
    cursor:pointer;
  }
  
input.ratings {
      margin-right: 7px;
  }
  
form{
    margin-top:10px;
    margin-bottom:10px;
  }
  
#submit{
    width:96px;
    height:40px;
    font-size:14px;
    border-radius:4px;
    border: 1px solid black;
    background:white;
    color:#0f0c29;
    margin-left:24em;
  }
  
.dropdown-level{
    height: 35px;
    width: 140px;
    padding: 5px;
    margin: 10px;  
    margin-top: 15px;
    border: 1px solid #fff;
    border-radius: 4px;
  }
  
.number-level{
    margin: 10px;  
    margin-top: 15px;
    border-radius:4px;
    border:1px solid #fff;
    height: 35px;
    padding:5px;
  }
  
.checkbox, .radio{
    padding-bottom:10px;
    margin-left:7px;
  }
  
#improvement, #recommendations{
    padding-top:1em;
  }
  
#comments{
    height:200px;
  }
  
#extra{
    display: flex;
    flex-direction: column;
  }
  
small{
    padding-top:3px;
  }
  
button{
    margin-left: 30px;
  }
  